:global(.menu) {
  background: #000000a6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 18px;
  z-index: 1;
}
:global(.menu.on) {
  display: block;
}
:global(.menu.off) {
  display: none;
}

.content {
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.content .close {
  padding: 5px 0 0 10px;
  width: fit-content;
}
.content .close svg {
  font-size: 48px;
  font-weight: 500;
}
.content .logo {
  width: fit-content;
  margin: auto;
}
.content ul {
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-top: 20px;
  /* font-size: 22px; */
}
.content ul li {
  color: #627d98;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.content ul li.active {
  color: var(--secondColor);
}
.content ul li svg {
  display: inline-block;
  font-size: 23px;
}

@media (min-width: 992px) {
  :global(.menu) {
    position: relative;
    top: initial;
    left: initial;
    padding: 0;
    background-color: initial;

    width: 0px;
    transition: 0.4s;
    overflow: hidden;
  }
  :global(.menu.on) {
    display: block;
    width: 240px;
  }
  :global(.menu.off) {
    display: block;
    width: 0px;
  }

  .content .close {
    display: none;
  }
  .content {
    width: 240px;
    border-radius: 0;
    padding-top: 30px;
  }

  .content ul {
    margin: initial;
    padding-left: 30px;
  }
}
.content ul li a {
  text-decoration: none;
}
/*
.content ul li.click svg {
  color: var(--secondColor);
}
*/
