.register {
  padding: 50px 20px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.register .container {
  background-color: white;

  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border-top: solid 5px var(--secondColor);
}
.register .title {
  font-size: 28px;
  margin-top: 20px;
}
.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 76%;
}
.register form label {
  margin-top: 22px;
  width: 100%;
}
.register form input {
  margin-top: 11px;
  height: 34px;
  background-color: #e2e2fc;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding-left: 20px;
}

.register button:first-of-type,
.register button:last-of-type {
  background: var(--secondColor);
  color: white;
  border: none;
  padding: 7px;
  width: 100%;
  margin-top: 35px;
  border-radius: 5px;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 400;
  box-shadow: #bcb6b6 0px 5px 5px 0px;
}
.register button:last-of-type {
  color: rgb(61, 61, 240);
  background: #9ed4ff;
  margin-top: 18px;
}

p {
  margin-top: 18px;
  font-size: 15.5px;
}
p span {
  color: #344af9;
  cursor: pointer;
}
