.app {
  display: flex;
  height: 100vh;
  scroll-behavior: smooth;
}
.app .content {
  width: 0px;
  flex-grow: 1;
}
.app .content section {
  max-height: calc(100% - 80px);
  overflow-y: scroll;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
